
.button:active {
    background-color: gray;
}

.button {
    padding: 0 45px 0 45px;
    height: 36px;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
}
