.button:active {
	-pie-background: linear-gradient(#008099, #18aaab);	
	behavior: url(pie.htc);
}

.button {
	position: relative;
	-pie-background: linear-gradient(#18aaab, #008099);	
	behavior: url(pie.htc);
	zoom: 1;
}