

.button:active {
    background: -webkit-linear-gradient(bottom, #18aaab, #008099);
    background: -moz-linear-gradient(bottom, #18aaab, #008099);
    background: -o-linear-gradient(bottom, #18aaab, #008099);
    background: -ms-linear-gradient(bottom, #18aaab, #008099);
    background: linear-gradient(bottom, #18aaab, #008099);
}

.button {
    padding: 0 45px 0 45px;
    height: 36px;
    background: -webkit-linear-gradient(top, #18aaab, #008099);
    background: -moz-linear-gradient(top, #18aaab, #008099);
    background: -o-linear-gradient(top, #18aaab, #008099);
    background: -ms-linear-gradient(top, #18aaab, #008099);
    background: linear-gradient(top, #18aaab, #008099);
    border-radius: 35px;
    border: none;
    color: #fff;
    font-size: 17px;
    text-shadow: 1px 1px 1px #004f5c;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
}

.button_form-auth {
	margin: 25px 0 0 25px;
}