.pagination {
	text-align: center;
	height: 25px;
}
.pagination__item {
	display: inline-block;
	width: 24px;
	height: 25px;
	overflow: hidden;
	text-align: center;
	cursor: default;
	line-height: 23px;
	color: #000;
	background: #ccc;
}
a.pagination__link {
	display: block;
	height: 25px;
	text-decoration: none;
	color: #717171;
	background: #ECEBEB;
}
	.pagination__link:hover {
		background: #F3B100;
		color: #fff;
	}

.pagination__link_prev,
.pagination__link_next,
.pagination__link_first,
.pagination__link_last {
	overflow: hidden;
	text-indent: -9999px;
}
