.goods-card-line {
	position: relative;
	background: url(../img/content/goods-card-line.png) repeat-y;
	margin-bottom: 27px;
	padding-bottom: 65px;
}

/*-- goods-card --*/
.goods-card {
	width: 225px;
	display: inline-block;
	vertical-align: top;
}
.goods-card__pic {
	width: 225px;
	height: 178px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.goods-card__title {
	font-size: 18px;
	padding: 0 10px;
}
.goods-card__descr {	
	padding: 10px;
}
.goods-card__botpane {
	position: absolute;
	bottom: 11px;
	width: 226px;
}
.goods-card__price {
	float: left;
	margin-left: 10px;
}
.button_goods-card-tocart {
	background: #ccc;
	font-size: 12px;
	width: 58px;
	height: 30px;
	line-height: 30px;
	float: right;
	cursor: pointer;
}
/*-- /goods-card --*/